In [13]:
import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv("AirQualityUCI.csv")
data

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1554.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,0.0,0.0
mean,-34.207524,1048.874746,-159.090093,1.865683,894.476969,168.605536,794.871754,58.135834,1391.361975,974.953618,9.776852,39.483873,-6.837604,NaN,NaN
std,77.657170,329.818519,139.789093,41.380206,342.316710,257.427995,321.977764,126.931715,467.195781,456.926877,43.203377,51.215786,38.976670,NaN,NaN
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,NaN,NaN
25%,0.600000,921.000000,-200.000000,4.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,10.900000,34.100000,0.692300,NaN,NaN
50%,1.500000,1052.000000,-200.000000,7.900000,894.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,17.200000,48.600000,0.976800,NaN,NaN
75%,2.600000,1221.000000,-200.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296200,NaN,NaN
max,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000,NaN,NaN

In [16]:
data.isnull().sum()

Date              114
Time              114
CO(GT)            114
PT08.S1(CO)       114
NMHC(GT)          114
C6H6(GT)          114
PT08.S2(NMHC)     114
NOx(GT)           114
PT08.S3(NOx)      114
NO2(GT)           114
PT08.S4(NO2)      114
PT08.S5(O3)       114
T                 114
RH                114
AH                114
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64

In [17]:
data.dropna(thresh=0.5*(len(data)),axis=1,inplace=True)

In [18]:
data

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1554.0,1074.0,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
data.isnull().sum()

Date             114
Time             114
CO(GT)           114
PT08.S1(CO)      114
NMHC(GT)         114
C6H6(GT)         114
PT08.S2(NMHC)    114
NOx(GT)          114
PT08.S3(NOx)     114
NO2(GT)          114
PT08.S4(NO2)     114
PT08.S5(O3)      114
T                114
RH               114
AH               114
dtype: int64

In [20]:
data.duplicated().sum()

113

In [21]:
data.drop_duplicates(inplace=True)

In [22]:
data1 = data.loc[0:20]
data2 = data.loc[21:40]

In [23]:
data1.shape
data2.shape

(20, 15)

In [24]:
merge1 = pd.concat([data1,data2])
merge1

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1554.0,1074.0,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
5,3/10/2004,23:00:00,1.2,1197.0,38.0,4.7,750.0,89.0,1336.0,96.0,1393.0,949.0,11.2,59.2,0.7848
6,3/11/2004,0:00:00,1.2,1185.0,31.0,3.6,690.0,62.0,1462.0,77.0,1333.0,732.0,11.3,56.8,0.7603
7,3/11/2004,1:00:00,1.0,1136.0,31.0,3.3,672.0,62.0,1453.0,76.0,1333.0,730.0,10.7,60.0,0.7702
8,3/11/2004,2:00:00,0.9,1094.0,24.0,2.3,608.0,45.0,1579.0,60.0,1276.0,620.0,10.7,59.7,0.7648
9,3/11/2004,3:00:00,0.6,1010.0,19.0,1.7,561.0,-200.0,1705.0,-200.0,1235.0,501.0,10.3,60.2,0.7517
10,3/11/2004,4:00:00,-200.0,1011.0,14.0,1.3,527.0,21.0,1818.0,34.0,1197.0,445.0,10.1,60.5,0.7465
11,3/11/2004,5:00:00,0.7,1066.0,8.0,1.1,512.0,16.0,1918.0,28.0,1182.0,422.0,11.0,56.2,0.7366
12,3/11/2004,6:00:00,0.7,1052.0,16.0,1.6,553.0,34.0,1738.0,48.0,1221.0,472.0,10.5,58.1,0.7353
13,3/11/2004,7:00:00,1.1,1144.0,29.0,3.2,667.0,98.0,1490.0,82.0,1339.0,730.0,10.2,59.6,0.7417
14,3/11/2004,8:00:00,2.0,1333.0,64.0,8.0,900.0,174.0,1136.0,112.0,1517.0,1102.0,10.8,57.4,0.7408
15,3/11/2004,9:00:00,2.2,1351.0,87.0,9.5,960.0,129.0,1079.0,101.0,1583.0,1028.0,10.5,60.6,0.7691
16,3/11/2004,10:00:00,1.7,1233.0,77.0,6.3,827.0,112.0,1218.0,98.0,1446.0,860.0,10.8,58.4,0.7552
17,3/11/2004,11:00:00,1.5,1179.0,43.0,5.0,762.0,95.0,1328.0,92.0,1362.0,670.0,10.5,57.9,0.7352
18,3/11/2004,12:00:00,1.6,1236.0,61.0,5.2,774.0,104.0,1301.0,95.0,1401.0,664.0,9.5,66.8,0.7951
19,3/11/2004,13:00:00,1.9,1286.0,63.0,7.3,868.0,146.0,1162.0,112.0,1537.0,799.0,8.3,76.4,0.8393
20,3/11/2004,14:00:00,2.9,1371.0,164.0,11.5,1034.0,207.0,983.0,128.0,1730.0,1036.0,8.0,81.1,0.8736
21,3/11/2004,15:00:00,2.2,1310.0,79.0,8.8,932.0,184.0,1082.0,126.0,1646.0,946.0,8.3,79.8,0.8778
22,3/11/2004,16:00:00,2.2,1292.0,95.0,8.3,912.0,193.0,1102.0,131.0,1591.0,957.0,9.7,71.2,0.8569
23,3/11/2004,17:00:00,2.9,1383.0,150.0,11.2,1020.0,243.0,1008.0,135.0,1719.0,1104.0,9.8,67.6,0.8185
24,3/11/2004,18:00:00,4.8,1581.0,307.0,20.8,1318.0,281.0,798.0,151.0,2083.0,1408.0,10.3,64.2,0.8065
25,3/11/2004,19:00:00,6.9,1776.0,461.0,27.4,1488.0,383.0,702.0,172.0,2332.0,1704.0,9.7,69.3,0.8319
26,3/11/2004,20:00:00,6.1,1640.0,401.0,24.0,1404.0,351.0,743.0,165.0,2191.0,1654.0,9.6,67.8,0.8133
27,3/11/2004,21:00:00,3.9,1313.0,197.0,12.8,1076.0,240.0,957.0,136.0,1706.0,1285.0,9.1,64.0,0.7419
28,3/11/2004,22:00:00,1.5,964.0,61.0,4.7,748.0,94.0,1325.0,85.0,1332.0,821.0,8.2,63.4,0.6905
29,3/11/2004,23:00:00,1.0,913.0,26.0,2.6,629.0,47.0,1564.0,53.0,1252.0,552.0,8.2,60.8,0.6657
30,3/12/2004,0:00:00,1.7,1080.0,55.0,5.9,805.0,122.0,1254.0,97.0,1375.0,816.0,8.3,58.5,0.6438
31,3/12/2004,1:00:00,1.9,1044.0,53.0,6.4,829.0,133.0,1247.0,110.0,1378.0,832.0,7.7,59.7,0.6308
32,3/12/2004,2:00:00,1.4,988.0,40.0,4.1,718.0,82.0,1396.0,91.0,1304.0,692.0,7.1,61.8,0.6276
33,3/12/2004,3:00:00,0.8,889.0,21.0,1.9,574.0,-200.0,1680.0,-200.0,1187.0,512.0,7.0,62.3,0.6261
34,3/12/2004,4:00:00,-200.0,831.0,10.0,1.1,506.0,21.0,1893.0,32.0,1134.0,384.0,6.1,65.9,0.6248
35,3/12/2004,5:00:00,0.6,847.0,7.0,1.0,501.0,30.0,1894.0,44.0,1155.0,394.0,6.3,65.0,0.6233
36,3/12/2004,6:00:00,0.8,927.0,17.0,1.8,571.0,56.0,1685.0,71.0,1223.0,486.0,6.8,62.9,0.6234
37,3/12/2004,7:00:00,1.4,1090.0,33.0,4.4,730.0,109.0,1387.0,104.0,1361.0,748.0,6.4,65.1,0.6316
38,3/12/2004,8:00:00,4.4,1587.0,202.0,17.9,1236.0,307.0,896.0,141.0,1900.0,1400.0,7.3,63.1,0.6499
39,3/12/2004,9:00:00,-200.0,1544.0,-200.0,22.1,1353.0,-200.0,767.0,-200.0,2058.0,1588.0,9.2,56.2,0.6561
40,3/12/2004,10:00:00,3.1,1350.0,208.0,14.0,1118.0,187.0,912.0,122.0,1712.0,1237.0,13.2,41.7,0.6320

In [25]:
data3 = data[['Time','CO(GT)']]
data4 = data[['Time','C6H6(GT)']]

In [26]:
merge2 = pd.merge(data3,data4)
merge2

             Time  CO(GT)  C6H6(GT)
0        18:00:00     2.6      11.9
1        18:00:00     2.6      20.8
2        18:00:00     2.6      19.3
3        18:00:00     2.6      15.5
4        18:00:00     2.6      12.2
...           ...     ...       ...
3648059  17:00:00     1.4       6.5
3648060  17:00:00     1.4       5.1
3648061  17:00:00     1.4       3.5
3648062  17:00:00     1.4       6.1
3648063       NaN     NaN       NaN

[3648064 rows x 3 columns]

In [27]:
transpose = data.transpose()
transpose

,0,1,2,3,4,5,6,7,8,9,...,9348,9349,9350,9351,9352,9353,9354,9355,9356,9357
Date,3/10/2004,3/10/2004,3/10/2004,3/10/2004,3/10/2004,3/10/2004,3/11/2004,3/11/2004,3/11/2004,3/11/2004,...,4/4/2005,4/4/2005,4/4/2005,4/4/2005,4/4/2005,4/4/2005,4/4/2005,4/4/2005,4/4/2005,NaN
Time,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00,0:00:00,1:00:00,2:00:00,3:00:00,...,6:00:00,7:00:00,8:00:00,9:00:00,10:00:00,11:00:00,12:00:00,13:00:00,14:00:00,NaN
CO(GT),2.6,2.0,2.2,2.2,1.6,1.2,1.2,1.0,0.9,0.6,...,1.1,4.0,5.0,3.9,3.1,2.4,2.4,2.1,2.2,NaN
PT08.S1(CO),1360.0,1292.0,1402.0,1376.0,1272.0,1197.0,1185.0,1136.0,1094.0,1010.0,...,1030.0,1384.0,1446.0,1296.0,1314.0,1162.0,1142.0,1002.0,1071.0,NaN
NMHC(GT),150.0,112.0,88.0,80.0,51.0,38.0,31.0,31.0,24.0,19.0,...,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,NaN
C6H6(GT),11.9,9.4,9.0,9.2,6.5,4.7,3.6,3.3,2.3,1.7,...,4.4,17.4,22.4,13.6,13.5,11.4,12.4,9.5,11.9,NaN
PT08.S2(NMHC),1046.0,955.0,939.0,948.0,836.0,750.0,690.0,672.0,608.0,561.0,...,730.0,1221.0,1362.0,1102.0,1101.0,1027.0,1062.0,960.0,1047.0,NaN
NOx(GT),166.0,103.0,131.0,172.0,131.0,89.0,62.0,62.0,45.0,-200.0,...,182.0,594.0,586.0,523.0,472.0,353.0,293.0,234.0,265.0,NaN
PT08.S3(NOx),1056.0,1174.0,1140.0,1092.0,1205.0,1336.0,1462.0,1453.0,1579.0,1705.0,...,760.0,470.0,415.0,507.0,538.0,604.0,603.0,702.0,654.0,NaN
NO2(GT),113.0,92.0,114.0,122.0,116.0,96.0,77.0,76.0,60.0,-200.0,...,93.0,155.0,174.0,186.0,190.0,179.0,175.0,156.0,168.0,NaN
PT08.S4(NO2),1692.0,1559.0,1554.0,1584.0,1490.0,1393.0,1333.0,1333.0,1276.0,1235.0,...,1129.0,1600.0,1776.0,1375.0,1374.0,1264.0,1241.0,1041.0,1128.0,NaN
PT08.S5(O3),1268.0,972.0,1074.0,1203.0,1110.0,949.0,732.0,730.0,620.0,501.0,...,905.0,1457.0,1704.0,1582.0,1728.0,1269.0,1092.0,770.0,816.0,NaN
T,13.6,13.3,11.9,11.0,11.2,11.2,11.3,10.7,10.7,10.3,...,9.5,9.7,13.5,18.2,21.9,24.3,26.9,28.3,28.5,NaN
RH,48.9,47.7,54.0,60.0,59.6,59.2,56.8,60.0,59.7,60.2,...,63.1,61.9,48.9,36.3,29.2,23.7,18.3,13.5,13.1,NaN
AH,0.7578,0.7255,0.7502,0.7867,0.7888,0.7848,0.7603,0.7702,0.7648,0.7517,...,0.7531,0.7446,0.7553,0.7487,0.7568,0.7119,0.6406,0.5139,0.5028,NaN

In [28]:
reshape = pd.pivot_table(data,index=['Date','Time'],values='CO(GT)')
reshape

                   CO(GT)
Date     Time
1/1/2005 0:00:00   -200.0
         10:00:00     1.2
         11:00:00     1.7
         12:00:00     2.3
         13:00:00     2.2
...                   ...
9/9/2004 5:00:00      0.4
         6:00:00      0.6
         7:00:00      3.0
         8:00:00      3.2
         9:00:00      3.5

[9357 rows x 1 columns]

In [29]:
data

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1554.0,1074.0,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9353,4/4/2005,11:00:00,2.4,1162.0,-200.0,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119
9354,4/4/2005,12:00:00,2.4,1142.0,-200.0,12.4,1062.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406
9355,4/4/2005,13:00:00,2.1,1002.0,-200.0,9.5,960.0,234.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139
9356,4/4/2005,14:00:00,2.2,1071.0,-200.0,11.9,1047.0,265.0,654.0,168.0,1128.0,816.0,28.5,13.1,0.5028
9357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
data.dropna(how='any',inplace=True)
data

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1554.0,1074.0,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,4/4/2005,10:00:00,3.1,1314.0,-200.0,13.5,1101.0,472.0,538.0,190.0,1374.0,1728.0,21.9,29.2,0.7568
9353,4/4/2005,11:00:00,2.4,1162.0,-200.0,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119
9354,4/4/2005,12:00:00,2.4,1142.0,-200.0,12.4,1062.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406
9355,4/4/2005,13:00:00,2.1,1002.0,-200.0,9.5,960.0,234.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139
9356,4/4/2005,14:00:00,2.2,1071.0,-200.0,11.9,1047.0,265.0,654.0,168.0,1128.0,816.0,28.5,13.1,0.5028

In [39]:
data['PT08.S4(NO2)'] = data['PT08.S4(NO2)'].astype(int)
data

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692,1268.0,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559,972.0,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1554,1074.0,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584,1203.0,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,4/4/2005,10:00:00,3.1,1314.0,-200.0,13.5,1101.0,472.0,538.0,190.0,1374,1728.0,21.9,29.2,0.7568
9353,4/4/2005,11:00:00,2.4,1162.0,-200.0,11.4,1027.0,353.0,604.0,179.0,1264,1269.0,24.3,23.7,0.7119
9354,4/4/2005,12:00:00,2.4,1142.0,-200.0,12.4,1062.0,293.0,603.0,175.0,1241,1092.0,26.9,18.3,0.6406
9355,4/4/2005,13:00:00,2.1,1002.0,-200.0,9.5,960.0,234.0,702.0,156.0,1041,770.0,28.3,13.5,0.5139
9356,4/4/2005,14:00:00,2.2,1071.0,-200.0,11.9,1047.0,265.0,654.0,168.0,1128,816.0,28.5,13.1,0.5028

In [40]:
print(data.dtypes)

Date              object
Time              object
CO(GT)           float64
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)         float64
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)       int32
PT08.S5(O3)      float64
T                float64
RH               float64
AH               float64
dtype: object

In [41]:
min(data['AH']) , max(data['AH'])

(-200.0, 2.231)

In [42]:
data['AH'] = data['AH'].apply(lambda x:0 if x<=0 else 1)
min(data['AH']) , max(data['AH'])

(0, 1)

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X = data.drop(['AH','Date','Time'],axis=1)

In [45]:
X

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH
0,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692,1268.0,13.6,48.9
1,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559,972.0,13.3,47.7
2,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1554,1074.0,11.9,54.0
3,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584,1203.0,11.0,60.0
4,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490,1110.0,11.2,59.6
...,...,...,...,...,...,...,...,...,...,...,...,...
9352,3.1,1314.0,-200.0,13.5,1101.0,472.0,538.0,190.0,1374,1728.0,21.9,29.2
9353,2.4,1162.0,-200.0,11.4,1027.0,353.0,604.0,179.0,1264,1269.0,24.3,23.7
9354,2.4,1142.0,-200.0,12.4,1062.0,293.0,603.0,175.0,1241,1092.0,26.9,18.3
9355,2.1,1002.0,-200.0,9.5,960.0,234.0,702.0,156.0,1041,770.0,28.3,13.5
9356,2.2,1071.0,-200.0,11.9,1047.0,265.0,654.0,168.0,1128,816.0,28.5,13.1

In [47]:
Y = data['AH']
Y

0       1
1       1
2       1
3       1
4       1
       ..
9352    1
9353    1
9354    1
9355    1
9356    1
Name: AH, Length: 9357, dtype: int64

In [48]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y,test_size=0.3)
logreg = LogisticRegression()
logreg.fit(X_train,Y_train)

LogisticRegression()

In [49]:
from sklearn.metrics import classification_report,confusion_matrix
y_pred = logreg.predict(X_test)
print(confusion_matrix(Y_test, y_pred))

[[  98    0]
 [   0 2710]]

In [50]:
print(classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        98
           1       1.00      1.00      1.00      2710

    accuracy                           1.00      2808
   macro avg       1.00      1.00      1.00      2808
weighted avg       1.00      1.00      1.00      2808

In [51]:
data['AH'].value_counts()

AH
1    8991
0     366
Name: count, dtype: int64